<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BLOG :: error</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Roboto', sans-serif;
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
<body>
<div class="header shadow-lg shadow-current w-screen h-screen m-0 bg-white dark:bg-black">
  <div class="px-32 bg-indigo-200 m-auto py-4 flex justify-between items-center">
    <a class="text-3xl font-black opacity-80" href="/">Spring Blog App</a>
    <div class="flex gap-4" sec:authorize="!isAuthenticated()">
      <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/register}">Register</a>
      <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/login}">Login</a>
    </div>
    <div class="flex gap-4" sec:authorize="isAuthenticated()">
      <form class="flex gap-4" th:action="@{/logout}"
            method="POST">
        <h3 class="self-center">Logged in as <span sec:authentication="name">Username</span></h3>
        <button type="submit" class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer">Logout</button>
      </form>
    </div>
  </div>
  <div class="relative pt-4 bg-indigo-300 pb-16" style="min-height: calc(100vh - 65px)">
    <div class="grid columns-1 gap-4 px-32 mt-8">
      <div class="border-2 border-indigo-300 rounded p-4 bg-indigo-200 shadow-md shadow-bg-indigo-500">
        <h2 class="text-xl border-b-2 border-indigo-300 truncate mb-2 font-bold">Error</h2>
<table>
  <tr>
    <td>Date</td>
    <td th:text="${timestamp}"/>
  </tr>
  <tr>
    <td>Path</td>
    <td th:text="${path}"/>
  </tr>
  <tr>
    <td>Error</td>
    <td th:text="${error}"/>
  </tr>
  <tr>
    <td>Status</td>
    <td th:text="${status}"/>
  </tr>
  <tr>
    <td>Message</td>
    <td th:text="${message}"/>
  </tr>
  <tr>
    <td>Exception</td>
    <td th:text="${exception}"/>
  </tr>
</table>
      </div>
    </div>
  </div>
</div>
</body>
</html>