<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOG :: home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="header shadow-lg shadow-current w-screen h-screen m-0 bg-white dark:bg-black overflow-x-hidden">
        <div class="px-32 bg-indigo-200 m-auto py-4 flex justify-between items-center">
            <a class="text-3xl font-black opacity-80" href="/">Spring Blog App</a>
            <div class="flex gap-4" sec:authorize="!isAuthenticated()">
                <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/register}">Register</a>
                <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/login}">Login</a>
            </div>
            <div class="flex gap-4" sec:authorize="isAuthenticated()">
                <form class="flex gap-4" th:action="@{/logout}"
                method="POST">
                    <h3 class="self-center">Logged in as <span sec:authentication="name">Username</span></h3>
                    <button type="submit" class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer">Logout</button>
                </form>
            </div>
        </div>
        <div class="relative pt-4 bg-indigo-300 pb-16" style="min-height: calc(100vh - 65px)">
            <div class="relative flex px-32 justify-between items-center">
                <form class="rounded" id="form">
                    <label for="query"></label>
                    <input class="border-2 border-indigo-300 rounded pl-4 pr-2 h-10 bg-white" type="search" id="query" name="q" placeholder="Search...">
                    <button class="py-1 px-4 border-2 border-indigo-400 rounded bg-indigo-200 hover:bg-indigo-400 hover:text-indigo-200 ease-in-out duration-300 cursor-pointer">Search</button>
                </form>
                <div class="grid grid-cols-3 shadow-md shadow-bg-indigo-500 justify-items-center border-1 border-indigo-400 rounded bg-indigo-200">
                    <a th:if="${prevPage}" class="px-4 text-2xl cursor-pointer text-indigo-400 hover:text-white"
                       th:href="@{'/feed/' + ${prevPage}}">&lt</a>
                    <a th:if="!${prevPage}" class="px-4 text-2xl text-indigo-100"
                       >&lt</a>
                    <p class="pt-0.5 px-4 border-1 border-indigo-200 rounded text-black text-xl"
                       th:text="${currentPage}">10</p>
                    <a th:if="${nextPage}" class="px-4 text-2xl cursor-pointer text-indigo-400 hover:text-white"
                       th:href="@{'/feed/' + ${nextPage}}">&gt</a>
                    <a th:if="!${nextPage}" class="px-4 text-2xl text-indigo-100"
                    >&gt</a>
                </div>
                <a class="py-1 px-4 border-2 border-indigo-400 rounded bg-indigo-200 hover:bg-indigo-400 hover:text-indigo-200 ease-in-out duration-300 cursor-pointer"
                    th:href="@{/posts/new}">Create new post
                </a>
            </div>
            <div class="grid columns-1 gap-4 px-32 mt-6" th:if="${posts.size() == 0}">
                <div class="post border-2 border-indigo-300 rounded p-4 bg-indigo-200 shadow-md shadow-bg-indigo-500 hover:shadow-xl ease-in-out duration-300">
                    <h2 class="text-2xl border-b-2 border-indigo-300 truncate mb-4">
                        No posts yet, make the first one!
                    </h2>
                </div>
            </div>
            <div class="grid columns-1 gap-4 px-32 mt-6" th:if="${posts.size() != 0}">
                <div class="posts list" th:each="post : ${posts}">
                    <a th:href="@{'/posts/' + ${post.id}}">
                    <div class="post border-2 border-indigo-300 rounded p-4 bg-indigo-200 shadow-md shadow-bg-indigo-500 hover:shadow-xl ease-in-out duration-300">
                    <h2 class="text-2xl border-b-2 border-indigo-300 truncate mb-4" th:text="${post.title}">
                        Title
                    </h2>
                    <img th:if="${post.getImageId() != '' && post.getImageId() != null}" style="max-height:500px;" class="max-w-full mb-2 max-h-15px rounded-lg" alt="sample" th:src="@{'/images/' + ${post.getImageId()}}"/>
                        <p class="mt-1 inline-flex text-justify max-h-24 text-ellipsis overflow-hidden mb-4" th:text="${post.body}">body</p>
                    <h5 class="text-xs" th:text="'Published on ' + ${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">Created At</h5>
                </div>
                </a>
                </div>
            </div>
            </div>
        </div>
</body>
</html>