<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOG :: home</title>
</head>
<body>
    <div class="container">
        <h1>Spring Blog App</h1>
        <div sec:authorize="!isAuthenticated()">
            <h3><a th:href="@{/register}">Register</a>
                <a th:href="@{/login}">Login</a></h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}"
            method="POST">
                <h3>Logged in as <span sec:authentication="name">Username</span></h3>
                <button type="submit">Logout</button>
            </form>

        </div>

        <hr/>
        <h2><a th:href="@{/posts/new}">Create new post</a> </h2>
        <div class="posts-container">
            <div class="post" th:each="post : ${posts}">
                <h2><a th:href="@{'/posts/' + ${post.id}}"
                       th:text="${post.title}">Title</a>
                </h2>
                <p th:text="${post.body}">body</p>
                <h5 th:text="'Published on ' + ${post.createdAt}">Created At</h5>
                <br/>
            </div>
        </div>
    </div>
</body>
</html>