<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOG :: update post</title>
</head>
<body>
<div class="header">
    <h1>Spring Blog App</h1>
    <hr/>
    <a th:href="@{'/'}">Blog home</a>
</div>
<h2>Update post</h2>
<div class="container">
    <form th:object="${post}"
          th:action="@{'/posts/{id}'(id=${post.id})}"
          method="post">
        <input type="hidden" th:field="*{account}" />
        <input type="hidden" th:field="*{createdAt}" />
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" th:field="*{title}" th:value="${post.title}"/>
        </div>
        <div>
            <label for="body">Post body</label>
            <textarea id="body" th:field="*{body}" th:value="${post.body}">Body</textarea>
        </div>
        <button type="submit">Publish</button>
    </form>
</div>
</body>
</html>