<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${action} == 'create' ?  'BLOG :: new post' : 'BLOG :: edit post'">BLOG :: edit post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="header shadow-lg shadow-current w-screen h-screen m-0 bg-white dark:bg-black overflow-x-hidden">
    <div class="px-32 bg-indigo-200 m-auto py-4 flex justify-between items-center">
        <a class="text-3xl font-black opacity-80" href="/">Spring Blog App</a>
        <div class="flex gap-4" sec:authorize="!isAuthenticated()">
            <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/register}">Register</a>
            <a class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer" th:href="@{/login}">Login</a>
        </div>
        <div class="flex gap-4" sec:authorize="isAuthenticated()">
            <form class="flex gap-4" th:action="@{/logout}"
                  method="POST">
                <h3 class="self-center">Logged in as <span sec:authentication="name">Username</span></h3>
                <button type="submit" class="px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer">Logout</button>
            </form>
        </div>
    </div>

    <div class="relative pt-4 bg-indigo-300 pb-16" style="min-height: calc(100vh - 65px)">
        <div class="grid columns-1 gap-4 px-32 mt-8">
            <div class="border-2 border-indigo-300 rounded p-4 bg-indigo-200 shadow-md shadow-bg-indigo-500">

                <h2 class="text-xl border-b-2 border-indigo-300 truncate mb-2 font-bold"
                th:text="${action} == 'create' ?  'Create new post' : 'Edit post'">Action post</h2>
    <form th:object="${post}"
          th:action="${action} == 'create' ? @{'/posts/new'} : @{'/posts/{id}'(id=${post.id})}"
          enctype="multipart/form-data"
          method="post">
        <input type="hidden" th:field="*{account}" />
        <input type="hidden" th:field="*{createdAt}" />
        <input type="hidden" th:field="*{imageId}">

        <div class="grid grid-cols-2 items-center">
        <!-- Title input -->
            <div class="mb-1 mt-4">
                <label for="title">Title</label><input
                    type="text"
                    class="form-control block px-3 text-s font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="title"
                    placeholder="Title"
                    name="title"
                    th:field="*{title}" th:value="${post.title}"
            />
            </div>
            <div>
                <label for="img">Select new image:</label>
                <input class="block" type="file" id="img" name="img" accept="image/*">
            </div>
        </div>
        <div>
            <label for="body">Write a post</label>
            <textarea class="block p-2.5 w-full text-sm rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Body"
                      id="body"
                      rows="12"
                      th:field="*{body}"
                      th:value="${post.body}">Body</textarea>
        </div>
        <button class="mt-1 px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer"
        type="submit">
        Publish</button>
        <a class="inline-block px-4 border-2 border-indigo-300 rounded bg-indigo-200 hover:bg-indigo-300 ease-in-out duration-300 cursor-pointer"
            href="/">
            Cancel</a>
    </form>
</div>
</div>
    </div>
</div>

</body>

<script>
    document.getElementById('body').addEventListener('keydown', function(e) {
        if (e.key === 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = this.value.substring(0, start) +
                "\t" + this.value.substring(end);

            // put caret at right position again
            this.selectionStart =
                this.selectionEnd = start + 1;
        }
    });
</script>
</html>